# Homework 4 Yuankai Wang

# Question 2

In [1]:
import numpy as np

In [2]:
A=np.array([[2, 2],[2, 10]])
B=np.array([6,14])

In [3]:
(x1,x2) = np.linalg.solve(A,B)
print(x1)
print(x2)

2.0
1.0

# Question 4

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
def RMSE(yh,y):
    return np.sqrt(((yh-y)**2).mean())

In [6]:
df = pd.read_csv("AdjustedClosingPrices.csv")
df.head(3)

,Date,A,AA,AAPL,ABC,ABT,ACS,ADBE,ADI,ADM,...,X,XEL,XL,XLNX,XOM,XRAY,XRX,YHOO,YUM,ZION
0,2000-01-03,46.354670,30.172580,3.660058,3.326019,9.639804,0.019,16.274667,32.947692,7.912229,...,25.380447,8.810155,32.639550,35.933610,26.056526,7.151686,19.207609,118.750,7.452527,43.820247
1,2000-01-04,42.813681,30.312376,3.351477,3.098946,9.364382,0.019,14.909395,31.280900,7.829816,...,24.433043,9.013020,31.170373,35.116937,25.557438,7.151686,18.314232,110.750,7.302727,41.698321
2,2000-01-05,40.157947,32.059823,3.400523,3.339381,9.347165,0.019,15.204175,31.737555,7.706187,...,24.682360,9.360790,31.448326,34.348304,26.950724,7.275321,19.257241,102.625,7.340181,41.648973

In [7]:
df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index('Date')

In [8]:
df1 = df.replace(0, np.nan)
df1 = df1.fillna(method='ffill',axis=0).fillna(method='bfill',axis=0)

In [9]:
df_log = np.log(df1)
df_r = df_log - df_log.shift(1)
df_r1 = df_r.drop(df_r.index[0])

In [10]:
df_log_tomorrow = df_r1.shift(periods=-1)

In [11]:
df_r1['bias'] = 1

In [12]:
df_r1 = df_r1.drop(df_r1.index[-1])
df_log_tomorrow = df_log_tomorrow.drop(df_log_tomorrow.index[-1])

In [13]:
X = df_r1.values
y = df_log_tomorrow.values
A = np.matmul(X.T,X)
b = np.matmul(X.T,y)
wopt = np.linalg.solve(A,b)
yh = np.matmul(X,wopt)
RMSE(yh,y)

0.06985184555976721

In [14]:
y.std()

0.08202956537424105