# Question 3

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# a
df = pd.read_csv("wine_quality_white.csv",sep=";")
df.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [3]:
features = df.drop("quality",axis=1)
target = df['quality']

In [4]:
mu = features.mean()
sd = features.std()
features_s = (features - mu)/sd
features_s.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,0.172079,-0.081762,0.213258,2.821061,-0.035351,0.569873,0.744489,2.331274,-1.246794,-0.349149,-1.393010
1,-0.657434,0.215874,0.047996,-0.944669,0.147732,-1.252891,-0.149669,-0.009153,0.739953,0.001342,-0.824192
2,1.475600,0.017450,0.543783,0.100272,0.193503,-0.312109,-0.973236,0.358628,0.475053,-0.436771,-0.336633
3,0.409083,-0.478608,-0.117266,0.415726,0.559670,0.687471,1.120977,0.525802,0.011479,-0.787262,-0.499152
4,0.409083,-0.478608,-0.117266,0.415726,0.559670,0.687471,1.120977,0.525802,0.011479,-0.787262,-0.499152

In [5]:
features_s['bias']=1
X = features_s.values
y = target.values

In [6]:
def MSE(X,w,y):
    yh = np.matmul(X,w)
    return ((yh-y)**2).mean()
def gradient_MSE(X,w,y):
    n = len(y)
    return (2/n)*np.matmul(X.T,np.matmul(X,w)-y)
def gradient_descent(h,X,w,y,max_k):
    f = MSE(X,w,y)
    k = 0
    mse = f
    while (mse <= f) and (k <= max_k):
        f = mse
        wopt = w
        w = w - h*gradient_MSE(X,w,y)
        mse = MSE(X,w,y)
        k = k + 1
    return (wopt,f)

In [7]:
X.shape

(4898, 12)

In [8]:
y.shape

(4898,)

In [9]:
w = np.ones(12)
h = 0.1
max_k = 100
(wopt,mse_min) = gradient_descent(h,X,w,y,max_k)
print('min MSE =',mse_min)

min MSE = 0.5675341333849714

In [10]:
# b
df = pd.read_csv("wine_quality_white.csv",sep=";")
features = df.drop("quality",axis=1)
target = df['quality']
features['bias']=1
X = features.values
y = target.values
w = np.ones(12)
h = 0.1
max_k = 1000
(wopt,mse_min) = gradient_descent(h,X,w,y,max_k)
print('min MSE =',mse_min)

min MSE = 42354.69255772184

In [11]:
# c
A = np.matmul(X.T, X)
b = np.matmul(X.T, y)
wopt = np.linalg.solve(A,b)
mse_min = MSE(X,wopt,y)
print('min MSE =',mse_min)

min MSE = 0.5631540629886571

In [12]:
# d
# Both a and c are accurate. b is not accurate. c runs faster.

# Question 4

In [13]:
# For a
df = pd.read_csv("wine_quality_white.csv",sep=";",nrows=100)
# For b
# df = pd.read_csv("wine_quality_white.csv",sep=";")

df_train = df.sample(frac = 0.8, random_state = 0)
df_test = df.drop(df_train.index)

features_train = df_train.drop("quality",axis=1)
features_test = df_test.drop("quality",axis=1)
target_train = df_train['quality']
target_test = df_test['quality']
mu = features_train.mean()
sd = features_train.std()
features_train_s = (features_train - mu)/sd
features_test_s = (features_test - mu)/sd
features_train_s['bias']=1
features_test_s['bias']=1
X_train = features_train_s.values
y_train = target_train.values
X_test  = features_test_s.values
y_test  = target_test.values

In [14]:
def RMSE(yh,y):
    return np.sqrt(((yh-y)**2).mean())

In [15]:
error = pd.DataFrame(np.zeros((101,3)),columns=['alpha','train RMSE','test RMSE'])
A = np.matmul(X_train.T, X_train)
b = np.matmul(X_train.T, y_train)
wopt = np.linalg.solve(A,b)
yh_train = np.matmul(X_train,wopt)
print("training RMSE=",RMSE(yh_train,y_train))
yh_test = np.matmul(X_test, wopt)
print('testing RMSE = ',RMSE(yh_test, y_test))

training RMSE= 0.5765896332816006
testing RMSE =  0.8595996180880167

In [16]:
I = np.eye(12)
alpha = np.linspace(0,10,101)
k = 0
for a in alpha:
    wopt = np.linalg.solve((A+a*I),b)
    yh_train = np.matmul(X_train,wopt)
    yh_test  = np.matmul(X_test,wopt)
    error.iloc[k,0] = a
    error.iloc[k,1] = RMSE(yh_train,y_train)
    error.iloc[k,2]  = RMSE(yh_test,y_test)
    k = k + 1

In [17]:
ix = error['test RMSE'].idxmin()
error.iloc[ix,:]

alpha         5.700000
train RMSE    0.704282
test RMSE     0.758067
Name: 57, dtype: float64

In [18]:
# When there are 100 rows of data, alpha = 5.700000, train RMSE = 0.704282, test RMSE = 0.758067
# When there are all the data, alpha = 0.000000, train RMSE = 0.755418, test RMSE = 0.731218
# With more data, training RMSE increase and testing RMSE decrease.
# As amount of data increases, less regularization is needed.