In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("Auto_MPG.csv")
df.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite

In [3]:
df1 = df.drop('acceleration',axis = 1).drop('mpg',axis=1).drop('year',axis=1).drop('origin',axis=1).drop('name',axis=1)
df1['bias']=1
W=df1.values
df1.head(3)

   cylinders  displacement  horsepower  weight  bias
0          8         307.0       130.0    3504     1
1          8         350.0       165.0    3693     1
2          8         318.0       150.0    3436     1

In [4]:
df2 = pd.DataFrame()
df2['mpg']=df['mpg']
df2['acceleration']=df['acceleration']
Y=df2.values
df2.head(3)

    mpg  acceleration
0  18.0          12.0
1  15.0          11.5
2  18.0          11.0

In [5]:
def RMSE(yh,y):
    return np.sqrt(((yh-y)**2).mean())

In [6]:
A = np.matmul(W.T, W)
b = np.matmul(W.T, Y)
wopt1 = np.linalg.solve(A,b[:,0])
wopt2 = np.linalg.solve(A,b[:,1])
yh1 = np.matmul(W,wopt1)
yh2 = np.matmul(W,wopt2)

In [7]:
W.shape

(392, 5)

In [8]:
Y.shape

(392, 2)

In [9]:
print('mpg RMSE', RMSE(yh1,Y[:,0]))
print('acceleration RMSE', RMSE(yh2,Y[:,1]))

mpg RMSE 4.214719512831648
acceleration RMSE 1.7056822034150638

In [10]:
Y[:,0].std()

7.795045762682584

In [11]:
Y[:,1].std()

2.7553429127509967