In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Abalone.csv")
df.head(3)

,sex,length,diameter,height,weight_whole,weight_shucked,weight_viscera,weight_shell,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.15,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.07,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.21,9

In [3]:
features = df.drop('rings',axis=1)
features['bias']=1
features.head(3)

,sex,length,diameter,height,weight_whole,weight_shucked,weight_viscera,weight_shell,bias
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.15,1
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.07,1
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.21,1

In [4]:
target = df['rings']
target.head(3)

0    15
1     7
2     9
Name: rings, dtype: int64

# One-Hot-Encode Categorical Features

In [13]:
features = pd.get_dummies(features)
features.head(3)

,length,diameter,height,weight_whole,weight_shucked,weight_viscera,weight_shell,bias,sex_F,sex_I,sex_M
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.15,1,0,0,1
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.07,1,0,0,1
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.21,1,1,0,0

In [14]:
X = features.values
y = target.values

In [15]:
A = np.matmul(X.T, X)
b = np.matmul(X.T, y)
wopt = np.linalg.solve(A,b)
pd.Series(wopt,index=features.columns)

length            -0.458335
diameter          11.075103
height            10.761537
weight_whole       8.975445
weight_shucked   -19.786867
weight_viscera   -10.581827
weight_shell       8.741806
bias              44.654889
sex_F            -40.760248
sex_I            -41.585124
sex_M            -40.702532
dtype: float64

In [16]:
def RMSE(yh,y):
    return np.sqrt(((yh-y)**2).mean())

In [17]:
yh = np.matmul(X, wopt)
RMSE(yh,y)

2.1914982239741514

In [18]:
y.std()

3.2237830658212117