In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("wine_quality_red.csv",sep=';')
df.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5

In [3]:
df.shape

(1599, 12)

In [4]:
features = df.drop('quality',axis=1)
# axis 0 - drop a row; 1 - drop a column
features.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8

In [6]:
features['bias'] = 1
features.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,bias
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,1

In [8]:
target = df['quality']
target.head()

0    5
1    5
2    5
3    6
4    5
Name: quality, dtype: int64

In [9]:
X = features.values
X

array([[ 7.4  ,  0.7  ,  0.   , ...,  0.56 ,  9.4  ,  1.   ],
       [ 7.8  ,  0.88 ,  0.   , ...,  0.68 ,  9.8  ,  1.   ],
       [ 7.8  ,  0.76 ,  0.04 , ...,  0.65 ,  9.8  ,  1.   ],
       ...,
       [ 6.3  ,  0.51 ,  0.13 , ...,  0.75 , 11.   ,  1.   ],
       [ 5.9  ,  0.645,  0.12 , ...,  0.71 , 10.2  ,  1.   ],
       [ 6.   ,  0.31 ,  0.47 , ...,  0.66 , 11.   ,  1.   ]])

In [10]:
y = target.values
y

array([5, 5, 5, ..., 6, 5, 6], dtype=int64)

In [13]:
A = np.matmul(X.T, X)
b = np.matmul(X.T, y)
wopt = np.linalg.solve(A,b)
pd.Series(wopt,index=features.columns)

fixed acidity            0.024991
volatile acidity        -1.083590
citric acid             -0.182564
residual sugar           0.016331
chlorides               -1.874225
free sulfur dioxide      0.004361
total sulfur dioxide    -0.003265
density                -17.881164
pH                      -0.413653
sulphates                0.916334
alcohol                  0.276198
bias                    21.965208
dtype: float64

In [16]:
def RMSE(yh, y):
    dy = yh - y
    dy2 = dy * dy
    rmse = np.sqrt(dy2.mean())
    print('RMSE = ',rmse)

In [17]:
yh = np.matmul(X, wopt)
RMSE(yh, y)

RMSE =  0.6455750670692045

In [18]:
y.std()

0.8073168769639513