# Example (Training vs Testing RSME for Red Wine)

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("wine_quality_red.csv",sep=';')
df.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5

In [6]:
df_train = df.sample(frac = 0.8, random_state = 0)
df_test = df.drop(df_train.index)
df_train.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1109,10.8,0.47,0.43,2.10,0.171,27.0,66.0,0.99820,3.17,0.76,10.8,6
1032,8.1,0.82,0.00,4.10,0.095,5.0,14.0,0.99854,3.36,0.53,9.6,5
1002,9.1,0.29,0.33,2.05,0.063,13.0,27.0,0.99516,3.26,0.84,11.7,7

In [7]:
df_train.shape

(1279, 12)

In [8]:
df_test.shape

(320, 12)

In [14]:
features_train = df_train.drop('quality',axis=1)
features_test = df_test.drop('quality',axis=1)

features_train['bias'] = 1
features_test['bias'] = 1

target_train = df_train['quality']
target_test = df_test['quality']

X_train = features_train.values
X_test = features_test.values

y_train = target_train.values
y_test = target_test.values

In [15]:
A = np.matmul(X_train.T, X_train)
b = np.matmul(X_train.T, y_train)
wopt = np.linalg.solve(A,b)
pd.Series(wopt, index=features_train.columns)

fixed acidity            0.008282
volatile acidity        -1.112659
citric acid             -0.237065
residual sugar           0.003947
chlorides               -1.498613
free sulfur dioxide      0.003483
total sulfur dioxide    -0.002949
density                 -9.305920
pH                      -0.596713
sulphates                0.903385
alcohol                  0.288018
bias                    14.065660
dtype: float64

In [16]:
def RMSE(yh,y):
    return np.sqrt(((yh-y)**2).mean())

In [17]:
yh = np.matmul(X_train, wopt)
print('training RMSE = ',RMSE(yh, y_train))

training RMSE =  0.6550338014974829

In [19]:
yh = np.matmul(X_test, wopt)
print('testing RMSE = ',RMSE(yh, y_test))

testing RMSE =  0.610694313028471

NameError: name 'y_train' is not defined